* {
  margin: 0;
  padding: 0;
}

.body {
  height: 100vh;
}

.container {
  display: grid;
  grid-template: .1fr .5fr 1fr 1fr / .7fr 3fr 1fr;
  height: 100vh;
}

.header {
  grid-column: 2 / 4;
}

.header-toprow {
  grid-column: 2 / 4;
  grid-row: 1;
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 20px;
  
}

.header-top-left {
  display: flex;
  position: relative;
  place-self: center stretch;
}

.header-top-left div {
  margin: 5px;
}

.searchbar {
  width: 80%;
}

.header-top-right {
  grid-column: 2 / 4;
  display: flex;
  align-items: flex-end;
}

.header-top-right div {
  margin: 5px;
}

.header-bottomrow {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 20px;
  grid-column: 2;
}

.header-bottom-left {
  display: flex;
  place-self: flex-start;
}

.header-bottom-left div {
  margin: 5px;
}

.header-bottom-right .button {
  margin: 5px;
}

.dashboard {
  grid-row: 1 / 4;
  grid-column: 1;
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.5fr 1fr;
  justify-content: start;
  background-color: #38bdf8;
  height: 100vh;
}

.dashboard li {
  list-style-type: none;
  margin-left: 30px;
}

.dashboard-icon {
  grid-row: 1;
  margin-top: 30px;
  margin-left: 30px;
}

.internal-items {
  grid-row: 2;
}

.external-items {
  grid-row: 3;
}

.projects {
  grid-area: 2 / 2 / 4 / 3;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  background-color: #d4d4d4;
  padding-top: 30px;
  padding-bottom: 20px;
  height: 73.88vh;
}

.section-title {
  margin-top: -25px;
  position: absolute;
  font-size: 20px;
  font-weight: 800;
}

.card {
  padding: 10px;
  background-color: #FFFFFF;
  color: black;
  margin: 10px;
  
}

.projects .text {
  padding: 10px;
  font-weight: 300;
}

.projects .section-title {
  margin-left: 10px;
  margin-top: -15px;
}

.card .footer {
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
}

.footer, .favorite, .watchlist, .link {
  margin: 3px;
}

.sidebar {
  grid-area: 2 / 3 / 4 / 3;
  background-color: #d4d4d4;
  height: 80.5vh;
}

.announcements {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin-top: 40px;
  margin-bottom: 20px;
  background-color: #FFFFFF;
  margin-left: 10px;
  margin-right: 20px;
  height: 30vh;
}

.announcements .text {
  font-size: 10px;
}

.maintenance {
  grid-row: 1;
  padding: 10px;
}

.community-day {
  grid-row: 2;
  padding: 10px;
}

.privacy-policy {
  grid-row: 3;
  padding: 10px;
}

.trending {
  display: grid; 
  padding: 10px;
  background-color: #FFFFFF;
  position: relative;
  height: 30vh;
  margin-top: 63px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 20px;
}

.trending .section-title {
  position: absolute;
  top: 0px;
}

.tegan {
  margin: 5px;
  grid-row: 1;
  display: grid;
  grid-template: 1fr / 1fr 2fr;
}

.tegan .user-icon {
  margin-right: 5px;
  grid-column: 1;
}

.tegan .project-title {
  grid-column: 2;
}

.morgan {
  margin: 5px;
  grid-row: 2;
  display: grid;
  grid-template: 1fr / 1fr 2fr;
}

.morgan .user-icon {
  margin-right: 5px;
  grid-column: 1;
}

.morgan .project-title {
  grid-column: 2;
}

.kendall {
  margin: 5px;
  grid-row: 3;
  display: grid;
  grid-template: 1fr / 1fr 2fr;
}

.kendall .user-icon {
  margin-right: 5px;
  grid-column: 1;
}

.kendall .project-title {
  grid-column: 2;
}


.alex {
  margin: 5px;
  grid-row: 4;
  display: grid;
  grid-template: 1fr / 1fr 2fr;
}

.alex .user-icon {
  margin-right: 5px;
  grid-column: 1;
}

.alex .project-title {
  grid-column: 2;
}